Source: linux-packaging-snippets
Section: kernel
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: debhelper (>= 13),
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/hybris-mobian/linux-packaging-snippets
Vcs-Git: https://github.com/hybris-mobian/linux-packaging-snippets.git

Package: linux-packaging-snippets
Architecture: all
Depends: ${misc:Depends}
Description: Linux kernel packaging snippets for hybris-mobian
 This package contains various snippets for packaging hybris-mobian
 kernels.
